# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*~
*.edj
*.pyc
/Makefile
/src/Makefile
/python/Makefile
Makefile.in
*.lo
config.h
config.h.in
configure
/compile
/config.cache
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
module.desktop
src/.deps/
src/.libs/
src/module.la
stamp-h1
